<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataDHT" class="text-center">
    <div><ngx-gauge 
      type="arch" 
      [value]="dataDHT.Temperature" 
      label="Temperature" 
      append="&#176;C" 
      min="0" 
      max="100" 
      foregroundColor="rgba(252, 29, 0, 1)" 
      [thick] = "screenDisplay.thick" 
      cap="round"
      [size] = "screenDisplay.width"
    >
    </ngx-gauge>
    </div>

    <div>
    <ngx-gauge 
      type="arch" 
      [value]="dataDHT.Humidity" 
      label="Humidity" 
      append="&#176;C" 
      min="0" 
      max="100" 
      [thick] = "screenDisplay.thick" 
      cap="round" 
      [thresholds]="thresholdConfig"
      [size] = "screenDisplay.width"
    >
    </ngx-gauge>
  </div>

  <ion-toggle color="primary" [(ngModel)]="sw_toggle" (ionChange)="onChange()" style="--background:black;"></ion-toggle>
  </div>
</ion-content>
